.chat-layout{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
}

.chat-container{
  width: 500px;
  border: 1px solid #ccc;
  padding:10px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.chat-side{
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  padding: 8px;
}

.chat-side h1,
.chat-side h2,
.chat-side h3
{
  margin: 5px;
}

.chat-side h1{
  display: table;
  white-space: nowrap;
  border-right: 2px solid transparent;
}

.chat-side h1.typing{
  border-right-color: #000;
  animation: caret-blink 0.7s step-end infinite;
}

@keyframes caret-blink{
  50%{
    border-right-color: transparent;
  }
}

.chat-side p{
  margin: 5px;
}

#chat-box{
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

#message-input{
  width: 70%;
  padding: 5px;
}

button{
  padding: 6px 12px;
}

.username-row{
  margin-top: 10px;
  padding-left: 440px;
  width: 500px;
  text-align: center;
  font-family: Arial, sans-serif;
}

#username-input{
  padding:10px;
  font-family: Arial, sans-serif;
}